@import 'components/desktop/base.css';

.wrapper {
  position: absolute;
  top: topBarHeight;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.slideBox {
  position: absolute;
  top: 0;
  width: leftSideWidth;
  height: 100%;
}
