
.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.draggableBox {
  width: 100%;
  height: 100%;
  text-align: center;

  img {
    width: auto;
    height: 95%;
    min-height: 500px;
    margin-top: 2%;
  }
}
